# Banco de dados:

#PostgreSQL
DATABASE_URL=postgresql://postgres:password@localhost:5432/fruits_db

# Exemplo SQLite (apenas dev/testes):
# DATABASE_URL=sqlite:///./fruits.db

#Aplicação
APP_ENV=development          # development | production
APP_TITLE=Fruits API
APP_VERSION=1.0.0
APP_DEBUG=true

#Paginação padrão
DEFAULT_PAGE_SIZE=20
MAX_PAGE_SIZE=100

# Auth JWT
SECRET_KEY=sua-chave-secreta-aqui-minimo-32-caracteres
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
